.card-icon {
    max-width: 50px;
    color: var(--primary);
}

.card-container {
    padding: 1.25rem;
    border: 1px solid transparent;
    height: 200px;
    width: 400px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.card-container:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary-accent);
}

/* Hack for gradient border, more on it here: https://css-tricks.com/gradient-borders-in-css/
.card-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -7px;
    border-radius: inherit;
    background: linear-gradient(45deg, rgba(102, 76, 150, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(247, 230, 29, 1) 100%);
} */

.card-value {
    font-size: 2rem;
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.card-content {
    display: flex;
    gap: 2rem;
}

.sensor-value {
    font-weight: 700;
}