.card-icon {
    max-width: 50px;
    color: var(--primary);
}

.card-container {
    padding: 1.25rem;
    border: 1px solid transparent;
    height: 200px;
    width: 400px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.card-container-disabled {
    cursor: default !important;
}

.card-container-disabled:hover {
    border: 1px solid transparent !important;
    background-color: white !important;
}

.card-container:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary-accent);
}

.card-value {
    font-size: 2rem;
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.card-content {
    display: flex;
    gap: 2rem;
}

.sensor-value {
    font-weight: 700;
}

.card-bottom {
    background-color: rgb(245, 246, 248);
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.export-container {
    display: flex;
    justify-content: flex-end;
}
